.chat-container{
  max-width:700px;
  margin:30px auto;
  background:white;
  padding:20px;
  border-radius:12px;
  border:1px solid lightsalmon;
}

.messages{
  border:1px solid #ddd;
  min-height:400px;
  padding:15px;
  margin-bottom:15px;
  border-radius:10px;
  border:1px solid lightsalmon;
  overflow-y:auto;
}

.message{
    background:#f1f1f1;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
    border:1px solid lightsalmon;
}

.send-box{
  display:flex;
  align-items:center;
  gap:10px;
  width:100%;
}

.send-box input{
  flex:1;
  width:100%;
  min-width:0;
  padding:14px 18px;
  border-radius:30px;
  border:2px solid #ff7a00;
  box-sizing:border-box;
}

.send-box button{
  padding:14px 22px;
  border:none;
  border-radius:20px;
  background:#ff7a00;
  color:white;
  cursor:pointer;
  margin: 0 0 15px;
}
.message strong{
  display:block;
  margin-bottom:6px;
  color:#444;
  font-size:14px;
}