<header>
  <nav>
    <div>
      <h1 routerLink="/home" class="logo" style="cursor: pointer;">Lost & Found</h1>
    </div>
    <div>
      <button routerLink="/login">Prisijungti</button>
    </div>
  </nav>
</header>
  <div class="hero hero-form">
    <form (ngSubmit)="register()">
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }

  <input [(ngModel)]="firstname" name="firstname" placeholder="Vardas" required />
  <input [(ngModel)]="lastname" name="lastname" placeholder="Pavardė" required />
  <input [(ngModel)]="username" name="username" placeholder="Vartotojo vardas" required />
  <input [(ngModel)]="email" name="email" placeholder="El. paštas" required />
  <input [(ngModel)]="password" name="password" type="password" placeholder="Slaptažodis" required />
  <input [(ngModel)]="phonenumber" name="phonenumber" placeholder="Tel. numeris" required />
  <input [(ngModel)]="city" name="city" placeholder="Miestas" required />
  <button type="submit">Register</button>
</form>
  </div>
