<header>
  <nav>
    <div>
      <a href="/home" class="logo">Lost & Found</a>
    </div>
    <div>
      <a href="/login" class="btn" id="login-btn">Prisijungti</a>
    </div>
  </nav>
</header>
  <div class="hero hero-form">
    <form (submit)="register()">
  <input [(ngModel)]="username" name="username" placeholder="Username" />
  <input [(ngModel)]="email" name="email" placeholder="Email" />
  <input [(ngModel)]="password" name="password" type="password" placeholder="Password" />
  <button type="submit">Register</button>
</form>
  </div>

