
.login-btn {
  background: #f97316;

  color: white;

  border: none;

  padding: 12px 28px;

  border-radius: 999px;

  cursor: pointer;

  font-weight: 600;

  transition: .2s;
}

.login-btn:hover {
  background: #ea580c;
}

/* FORM */

.hero-form {
  width: 620px;

  background: #ff7417;

  padding: 40px 50px;

  border-radius: 18px;

  box-shadow:
    0 18px 45px rgba(0,0,0,.12);

  display: flex;

  flex-direction: column;

  gap: 28px;
}

/* FIRST ROW */

.row {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

/* INPUTS */

.input-group {
  display: flex;

  flex-direction: column;
}

.input-group label {
  color: white;

  font-size: 16px;

  font-weight: 700;

  margin-bottom: 8px;

  text-align: left;

  padding-left: 4px;
}

.input-group input {

  height: 54px;

  width: 100%;

  box-sizing: border-box;

  border: none;

  border-radius: 10px;

  padding: 0 18px;

  background: #f5f5f5;

  font-size: 15px;
}

.input-group input:focus {
  outline: none;

  box-shadow:
    0 0 0 4px rgba(255,255,255,.3);
}

/* BUTTON */

.submit-btn {

  width: 220px;

  align-self: center;

  margin-top: 10px;

  height: 56px;

  border-radius: 10px;

  background: white;

  color: #ff7417;

  font-size: 18px;

  font-weight: 700;

  transition: .2s;
}

.submit-btn:hover {
  transform: translateY(-2px);

  background: #fff7ed;
}

/* ERROR */

.error-message {
  background: rgba(255,255,255,.2);

  color: white;

  padding: 14px;

  border-radius: 6px;

  text-align: center;
}

/* MOBILE */

@media (max-width: 700px) {

  .register-form {
    width: 100%;

    padding: 30px;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .logo {
    font-size: 30px;
  }

}