<!-- Jei prisijungęs -->
@if (auth.isLoggedIn$ | async) {

  <nav>
    <div>
      <h1 class="logo">Lost & Found</h1>
    </div>

    <div class="nav-right">
      <div class="profile-container" (click)="toggleMenu()">
        <img src="assets/icons/icons8-profile.gif" alt="Profilis" class="avatar">

        @if (menuOpen()) {
          <div 
            class="dropdown" 
            (click)="$event.stopPropagation()"
          >
            <p class="username">Sveikas, {{ user()?.username }}</p>
            <button routerLink="/profile">Profilis</button>
            <button routerLink="/create-post">Įkelti skelbimą</button>
            <button (click)="logout()">Atsijungti</button>
          </div>
        }
      </div>
    </div>
  </nav>

  <div class="hero hero-home">
    <div>
      <h1>Rask pamestus daiktus greičiau ir paprasčiau</h1>
      <p>
        Skelbk rastus arba pamestus daiktus, ieškok pagal vietą,
        kategoriją ir datą.
      </p>

      <div class="search-container">
        <search>
          <input type="text" placeholder="Ieškok daiktų...">
        </search>

        <select>
           @for (category of categories(); track category.categoryID) {
            <option [value]="category.categoryID">
              {{ category.categoryName }}
            </option>
          }
        </select>

        <button class="btn">Ieškoti</button>
      </div>
    </div>
  </div>

  <div class="categories">
    <h1>Kategorijos</h1>

    <div class="category-list">
      <a class="category-item" href="/category?type=elektronika">
        <img src="assets/icons/icons8-electronics-94.png" alt="Elektronika">
        <h3>Elektronika</h3>
      </a>

      <a class="category-item" href="/category?type=apranga">
        <img src="assets/icons/icons8-clothes-94.png" alt="Apranga">
        <h3>Apranga</h3>
      </a>

      <a class="category-item" href="/category?type=raktai">
        <img src="assets/icons/icons8-bunch-of-keys-94.png" alt="Raktai">
        <h3>Raktai</h3>
      </a>

      <a class="category-item" href="/category?type=dokumentai">
        <img src="assets/icons/icons8-card-wallet-94.png" alt="Dokumentai">
        <h3>Dokumentai</h3>
      </a>

      <a class="category-item" href="/category?type=visi">
        <img src="assets/icons/icons8-open-box-94.png" alt="Visi">
        <h3>Visi</h3>
      </a>
    </div>
  </div>

  <div class="ads">
    <h1>Naujausi Skelbimai</h1>

    <div class="ads-list">
      @for (ad of ads(); track ad.id || ad.categoryID) {
        <div class="ad-item">
          <div class="ad-overlay">
            <button [routerLink]="['/addinfo', ad.ID]">Plačiau</button>
          </div>
          <div class="ad-content">
            @if(ad.images?.length) {
              <img [src]="'https://localhost:7062/' + ad.images[0]"
                   [alt]="ad.title"
                   width="200">
            }
            <h3>{{ ad.title }}</h3>
            <p>{{ ad.description }}</p>
            <p>{{ ad.location }}</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="contact">
    <h1>Radai pamestus daiktus?</h1>
    <p>
      Padėk žmonėms greičiau atgauti savo daiktus. Įkelk skelbimą per
      kelias sekundes ir pridėk nuotrauką, vietą bei aprašymą.
    </p>
    <button class="btn">Įkelti Skelbimą</button>
  </div>

<!-- Jei neprisijungęs -->
} @else {

  <nav>
    <div>
      <h1 class="logo">Lost & Found</h1>
    </div>

    <div>
      <button routerLink="/login">Prisijungti</button>
      <button routerLink="/register">Registruotis</button>
    </div>
  </nav>

  <div class="contact">
    <h1>Radai pamestus daiktus?</h1>
    <p>
      Padėk žmonėms greičiau atgauti savo daiktus. Įkelk skelbimą per
      kelias sekundes ir pridėk nuotrauką, vietą bei aprašymą.
    </p>
    <button class="btn">Įkelti Skelbimą</button>
  </div>

} 