<header>
    <nav>
        <div class="nav-left">
            <h1 class="logo">Lost & Found</h1>
        </div>
        <div class="nav-right">
            <a href="/login" class="btn" id="login-btn">Prisijungti</a>
            <a href="/register" class="btn" id="register-btn">Registruotis</a>
            <button class="btn" id="create-post-btn">Ikelti Skelbima</button>
        </div>
    </nav>
</header>

    <div class="categories">
        <h1>Kategorijos</h1>
        <div class="category-list">
            <a class="category-item" href="home">
                <img src="assets/icons/icons8-home.svg" alt="Pradžia">
                <h3>Pradžia</h3>
            </a>
            @for (category of categories(); track category.categoryID) {
            <a class="category-item" [routerLink]="['/category']" [queryParams]="{ id: category.categoryID }">
            <img [src]="getCategoryIcon(category.categoryName)" [alt]="category.categoryName">
            <h3>{{ category.categoryName }}</h3>
            </a>
            }
        </div>
    </div>


    <div class="ads">
        <h1 id="category-title">{{ selectedCategoryName() }}</h1>
        
        <div class="ads-list">
            <div class="ad-item">
            @for (ad of ads(); track ad.adID) {
                <div class="ad-content">
                    @if(ad.images?.length) {
                        <img [src]="'https://localhost:7062/' + ad.images[0]"
                        [alt]="ad.title"
                        width="200">
                    }
                    <h3>{{ ad.title }}</h3>
                    <p>{{ ad.description }}</p>
                    <strong>{{ ad.price }} €</strong>
                </div>
            } @empty {
                <p>Šioje kategorijoje skelbimų kol kas nėra.</p>
            }
            </div>
        </div>
    </div>

    