.inbox-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.badge {
  background: red;
  color: white;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.ads-list {
    width: 80%;
    margin: 50px auto;

    display: grid;

    /* 4 kortelės eilėje */
    grid-template-columns: repeat(4, 1fr);

    gap: 25px;
}

.ad-item {
    background: white;
    border: 1px solid #f97316;
    border-radius: 30px;

    padding: 20px;

    display: flex;
    flex-direction: column;

    min-height: 420px;
}

.ad-content p:first-of-type {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* max 3 eilutės */
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    word-break: break-word;
}

.ad-content img {
    width: 100%;
    height: 220px;

    object-fit: cover;

    border-radius: 20px;
}

.ad-content {
    overflow-wrap: break-word;
}