<header>
  <nav>
    <div>
      <h1 routerLink="/home" class="logo" style="cursor: pointer;">Lost & Found</h1>
    </div>
    <div>
        <button routerLink="/register">Registruotis</button>
    </div>
  </nav>
</header>
  <div class="hero hero-form">
    <form (ngSubmit)="login()">
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }
  
  <input [(ngModel)]="email" name="email" placeholder="El. paštas" />
  <input [(ngModel)]="password" name="password" type="password" placeholder="Slaptažodis" />
  <button type="submit">Login</button>
</form>
  </div>