<header>
  <nav>
    <div class="nav-left">
      <h1 routerLink="/home" class="logo">
        Lost & Found
      </h1>
    </div>
    <div class="nav-right">
      <div class="profile-container" (click)="toggleMenu()">
        <img
          src="assets/icons/icons8-profile.gif"
          class="avatar">
        @if(menuOpen){
        <div
          class="dropdown"
          (click)="$event.stopPropagation()">
          <p class="username">
            Sveikas, {{ user?.username }}
          </p>
          <button routerLink="/profile">
            Profilis
          </button>
          <button routerLink="/create-post">
            Įkelti skelbimą
          </button>
          <button (click)="logout()">
            Atsijungti
          </button>
        </div>
        }
      </div>
    </div>
  </nav>
</header>
<main class="create-page">
  <section class="hero">
    <h1>Įkelk naują skelbimą</h1>
  </section>
  <form
    id="post-form"
    (ngSubmit)="onSubmit()"
    #postForm="ngForm">
    <div class="form-grid">
      <!-- LEFT -->
      <div>
        <label>Pavadinimas</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="title"
          required
          placeholder="Pvz. Rasti juodi akiniai">
        <label>Aprašymas</label>
        <textarea
          id="description"
          name="description"
          [(ngModel)]="description"
          required
          rows="8"
          placeholder="Aprašyk daiktą...">
        </textarea>
        <label class="custom-file">
          Pasirinkti failą
        <input type="file" accept="image/*" (change)="onFileSelected($event)">
        </label>
      </div>
      <!-- RIGHT -->
      <div>
        <label>Tipas</label>
        <select
          name="type"
          [(ngModel)]="type">
          <option value="">
            Pasirinkite
          </option>
          <option value="found">
            Radau
          </option>
          <option value="lost">
            Pamečiau
          </option>
        </select>
        <label>Kategorija</label>
        <select
          name="categoryID"
          [(ngModel)]="categoryID">
          <option [ngValue]="0">
            Pasirinkite
          </option>
          <option [ngValue]="2">
            Elektronika
          </option>
          <option [ngValue]="3">
            Apranga
          </option>
          <option [ngValue]="4">
            Raktai
          </option>
          <option [ngValue]="5">
            Dokumentai
          </option>
          <option [ngValue]="1">Kita</option>
        </select>
        <label>Miestas</label>
        <select name="location"[(ngModel)]="location">
          <option value="">Pasirinkite</option>
          <option>Vilnius</option>
          <option>Kaunas</option>
          <option>Klaipėda</option>
          <option>Šiauliai</option>
          <option>Panevėžys</option>
        </select>
        <div class="preview-container">
          <div class="preview"*ngIf="previewUrl">
            <img [src]="previewUrl">
          </div>
        </div>
      </div>
    </div>
    <button class="submit-btn"type="submit">Įkelti skelbimą</button>
  </form>
</main>