<header>
  <nav>
    <div class="nav-left">
      <a href="/home" class="logo">Lost & Found</a>
    </div>
    <div class="nav-right">
        <img src="assets/icons/icons8-customer-50.png" alt="Profilis">
        <button class="btn" (click)="logout()" id="logout-btn">Atsijungti</button>
        <a href="/create-post" class="btn" id="create-post-btn">Įkelti Skelbimą</a>
    </div>
  </nav>
</header>
<main>
  <section class="profile">
    <h1>Mano profilis</h1>
    <div class="profile-info">
      <p><strong>Vardas:</strong> <span id="user-name">Jonas</span></p>
      <p><strong>El. paštas:</strong> <span id="user-email">jonas@email.com</span></p>
      <button class="btn" id="edit-profile-btn">Redaguoti profilį</button>
    </div>
  </section>
  <section class="profile-ads">
    <h1>Mano skelbimai</h1>
  </section>
</main>