<nav>
        <div class="nav-left">
            <h1 routerLink="/home" class="logo" style="cursor: pointer;">Lost & Found</h1>
            <a class="home-link" href="home">
                <img src="assets/icons/icons8-home.svg" alt="Pradžia">
            </a>
        </div>
        <div class="nav-right">
            <div class="profile-container" (click)="toggleMenu()">
        <img src="assets/icons/icons8-profile.gif" alt="Profilis" class="avatar">

        @if (menuOpen) {
          <div 
            class="dropdown" 
            (click)="$event.stopPropagation()"
          >
            <p class="username">Sveikas, {{ user?.username }}</p>
            <button routerLink="/profile">Profilis</button>
            <button routerLink="/create-post">Įkelti skelbimą</button>
            <button (click)="logout()">Atsijungti</button>
          </div>
        }
      </div>
        </div>
    </nav>
    
<div class="inbox-container">
  <h2>Mano pokalbiai</h2>

  @if (conversations().length === 0) {
    <p>Pokalbių dar nėra.</p>
  }

  @for (conv of conversations(); track conv.conversationID) {
    <div class="conversation" (click)="openChat(conv.conversationID)">

      <img
        class="ad-image"
        [src]="'https://localhost:7062/api/Ads/image/' + conv.adImage"
        alt="Skelbimo nuotrauka"
      >

      <div class="conversation-info">
        <h3>{{ conv.adTitle }}</h3>

        <p>{{ conv.lastMessage || 'Dar nėra žinučių' }}</p>

        <small>{{ conv.lastMessageTime }}</small>
      </div>

    </div>
  }
</div>